body {
    background-image: linear-gradient(to bottom right, rgb(122, 1, 156), rgb(69, 24, 137));
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
 
    
    
}

@media (max-width: 706px) {
    /* Styles for small screens */
    .gosPost2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;
       
         
        
        
    }
}



.t{
    margin: 0px;
    padding: 0px; 
    outline: none;
    border: 0px;
    padding-top: 10px;
}


a{
    color: antiquewhite;
    text-shadow: -1px 0px black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: "Arial";
    
}
   
p{
    color: antiquewhite;
    text-shadow: -1px 0px black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: "Arial";
}

h3{
    color: antiquewhite;
    text-shadow: -1px 0px black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: "Arial";
}

h1{
    color: antiquewhite;
    text-shadow: -1px 0px black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: "Arial";
}

.titulo{
    display: flex;
    justify-content: center;
}

.fundoImagemTitulo{
    display: flex;
    justify-content: center;
}

.imagemTitulo{
    width: 200px;
    height: 200px;
    border: solid transparent;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    
     
    
}

.tituloEscolaridade{
    display: flex;
    justify-content: center;  
}

.escolaridade{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}

.escPost1{
    display: flex;
    justify-content: center;
    border: solid rgb(126, 227, 126) 3px;
    border-radius: 20%;
}



.escPost2{
    display: flex;
    justify-content: center;
    border: solid rgb(126, 227, 126) 3px;
    border-radius: 20%;  
}

.tituloGostos{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.gostosPessoaisHobbies{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
   
    
    
    

}

.gosPost1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    
   
}

.imgGos1{
    display: flex;
    justify-content: center;
    border: solid rgb(126, 227, 126) 3px;
    border-radius: 20%;  
    padding-left: 10px;
    padding-right: 10px;
    flex-shrink: 0;
     
}

.gosPost2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
     
    
    
}

.imgGos2{
    display: flex;
    justify-content: center;
    border: solid rgb(126, 227, 126) 3px;
    border-radius: 20%;  
    padding-left: 10px;
    padding-right: 10px;
    flex-shrink: 0;
    
}

.gosPost3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
    text-align: center;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}

.imgGos3{
    display: flex;
    justify-content: center;
    border: solid rgb(126, 227, 126) 3px;
    border-radius: 20%;  
    padding-left: 10px;
    padding-right: 10px;
    flex-shrink: 0;
    
}

.tituloRedes{
    display: flex;
    justify-content: center;
    padding-top: 60px;

}

.redesSociais{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    
    
   
    
}

.redPost1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
  
    
    
}

.redImg1{
    display: flex;
    justify-content: center;
    border: solid rgb(126, 227, 126) 3px;
    border-radius: 20%;  
    padding-left: 10px;
    padding-right: 10px;
    flex-shrink: 0;
   
}

.redPost2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
   
    
    
}

.redImg2{
    display: flex;
    justify-content: center;
    border: solid rgb(126, 227, 126) 3px;
    border-radius: 20%;  
    padding-left: 10px;
    padding-right: 10px;
    flex-shrink: 0;
}

.redPost3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
   

    
}

.redImg3{
    display: flex;
    justify-content: center;
    border: solid rgb(126, 227, 126) 3px;
    border-radius: 20%;  
    padding-left: 10px;
    padding-right: 10px;
    flex-shrink: 0;
}


.rodape{
    display: flex;
    justify-content: center;
    padding-top: 60px;
    text-align: center;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    
}
